@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&family=Ubuntu:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
}

.todo {
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 101vh;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(#1c122e, #1a6375);
}

.todo-wrapper {
  max-width: 50%;
  min-width: 380px;
  margin: 0 auto;
  margin-top: 40px;
}

.todo__list {
  list-style: none;
  margin-left: 15px;
  margin-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 320px;
}

.todo__item {
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: 5px;
}

.task {
  display: flex;
  align-items: center;
}

.task__checkbox {
  appearance: none;
  display: block;
  min-width: 35px;
  height: 35px;
  border-radius: 8px;
  border: 4px solid rgb(179, 175, 175);
}

.task__checkbox:checked {
  border: 4px solid rgb(117, 114, 114);
}

.task__checkbox:checked::after {
  content: '';
  display: block;
  position: relative;
  width: 10px;
  height: 3px;
  background-color: rgb(117, 114, 114);
  left: 6px;
  transform: rotate(40deg);
}

.task__checkbox:checked::before {
  content: '';
  display: block;
  position: relative;
  width: 3px;
  height: 14px;
  background-color: rgb(117, 114, 114);
  top: 6px;
  left: 16px;
  transform: rotate(40deg);
}

.task__text {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: rgb(179, 175, 175);
  font-size: 22px;
  margin-left: 15px;
}

.task__checkbox:checked+.task__text {
  text-decoration: line-through;
  color: rgb(117, 114, 114);
}

.task__delete {
  right: 25px;
  margin-left: auto;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: block;
  background: url('trash.png') center no-repeat;
  background-size: 22px;
  background-color: rgb(179, 175, 175);
  border: none;
}

.task__delete:hover {
  box-shadow: 0px 0px 10px 3px rgb(117, 114, 114);
}

.task__delete:active {
  border: 1px solid rgb(66, 66, 66);
}

.todo__input {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  height: 60px;
  border-radius: 50px;
  border: 4px solid rgb(66, 66, 66);
  background-color: aliceblue;
}

.todo__text-input {
  outline: none;
  font-family: 'Sansita', Arial, Helvetica, sans-serif;
  font-size: 42px;
  border: none;
  left: 30px;
  position: relative;
  caret-color: rebeccapurple;
  width: 80%;
  background: inherit;
}

.todo__add {
  height: 60px;
  width: 120px;
  display: block;
  position: relative;
  border-radius: 30px;
  border: none;
  background: url('./add.png') no-repeat center;
  background-size: 40px;
  background-color: rgb(179, 175, 175);
}


.todo__add:hover {
  box-shadow: 0px 0px 10px 3px rgb(117, 114, 114);
}

.todo__add:active {
  border: 1px solid rgb(66, 66, 66);
}